name: Test and Release
on:
  push:
    branches:
      - master
      - alpha

jobs:
  test:
    uses: ./.github/workflows/test.yml
  release:
    needs: test
    permissions:
      issues: write
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
        with:
          # fetch all history
          fetch-depth: 0

      - uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd
        with:
          node-version: 18
          cache: npm

      - name: Enable corepack
        run: corepack enable npm

      - name: Print npm version
        run: npm --version

      - run: npm ci

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
